<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/caph30VideoPlayerAngularjs" version="0.2.2" viewmodes="maximized">
    <tizen:application id="fLLfnncJO1.caph30VideoPlayerAngularjs" package="fLLfnncJO1" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <name>caph30VideoPlayerAngularjs</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv-samsung-public"/>
</widget>
